<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p class="pre">
  Hi <%= @res.customer_name %> <%= @res.customer_surname %>,</br>
  This is Giada from Bamboo B&B.</br>
  Thanks for your reservation.</br>
</p>
  <p>
    Usually the Check-in is between 8 and 12-noon.</br>
    Could you confirm your arrival time for <%= @res.date_arrival %>.</br>
  </p>


<p>
  The best way for arrive to Bamboo is booking a pickup car for €45.</br>
  Please let me know if you are interested.</br>
  See you soon...</br>
</p>
</br>

<address>
  Giada Fabiani </br>
  Mobile : +393339000259</br>
  booking@bambooroma.com</br>
</address>


</body>
</html>